body {
    background-color: #121212;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

#turn {
    color: rgb(255, 138, 138);
}

input[type="button"] {
    background-color: rgb(201, 255, 255);
    padding: 10px;
    border: none;
    border-radius: 5px;
}

#result {
    font-size: 100px;
}